@import url(base.css);

/*
-------------------------------
Site:        移动商盟 优惠券相关页面
Author:      fengailing
Updated:     2011-04-26
Updated by:
-------------------------------
*/
.containers{ clear:both}
.fal-leftFrame { margin-bottom:10px;*maring-bottom:20px;}
.fal-rightFrame { width:760px; height:auto; overflow:hidden;  }
.fal-riDetaiFrame{ width:760px;  overflow:hidden;margin-top:-485px;}
.hotCoupon{ width:192px; position: relative}
.hotCoupon h2,
.hotCoupon .hotLeft,
.hotCoupon .hotRight{ background:url(../images/couponBg.gif) repeat}/*共用一个背景*/
.hotCoupon h2{ height:29px; line-height:29px; background-position:0 0; color:#333; text-indent:0.5em}
.hotCoupon .hotLeft,
.hotCoupon .hotRight{ width:6px; height:29px; }
.hotCoupon .hotRight{ background-position:-12px -35px; position:absolute; top:0;right:0 }
.hotCoupon .hotLeft{ background-position:-1px -35px; position:absolute; left:0; z-index:99}

.hotBox,
.scanBox{ width:189px;border-left:1px solid #b6c0bf; border-right:1px solid #b6c0bf; border-bottom:1px solid #b6c0bf; overflow:hidden}
.hotBox ul li {padding:8px 0 5px 0; height:65px; border-bottom:1px dashed #ccc}
.hotBox ul li img{ margin:0 6px; float:left}
.hotBox ul li p{ float:left}
.couName{ width:118px; height:30px; overflow:hidden}
.hotBox ul li.boderNone{ border:none}

.hotCoupon .scanBox ul li{ margin-left:10px; height:26px; line-height:26px;  }
.hotCoupon .scanBox  ul li a{padding-left:10px; background:url(../images/arrow.gif) no-repeat; background-position:3px  3px}
.hotBox ul li a:hover,
.hotCoupon .scanBox  ul li a:hover{ text-decoration:underline}

/*================左边end================*/

.sortH2{ font-weight:normal}
.coulist ul li{ width:175px; height:110px; margin-left:4px;_margin-left:3px; margin-right:11px; float:left; text-align:center}
.coulist ul li img{ border:1px solid #ccc}
.coulist{ margin-bottom:10px;}
/*=====优惠券广告end=====*/
.sort span.discountOn,
.sort span.haopOn,
.sort span.gradeOn,
.sort span.freshOn,
.sort span.defaultOn,
.sort span.downEndOn,
.sort span.downNewOn,
.sort span.downNumOn,
.sort span.discount,
.sort span.haop,
.sort span.grade,
.sort span.fresh,
.sort span.default, 
.sort span.downNum,
.sort span.downNew,
.sort span.downEnd{ width:89px; height:25px; display:block;background:url(../images/coupon.gif) no-repeat;}
.sort span.downNum{ position:absolute;top:4px; left:50px;  float:left}
.sort span.downNew{ background-position:0 -133px; position:absolute;top:4px; left:150px; }
.sort span.downEnd{ background-position:0 -222px; position:absolute;top:4px; left:250px; }
.sort span.downNumOn{  background-position:0 0px;position:absolute;top:4px; left:50px;  float:left}
.sort span.downNewOn{  background-position:0 -97px;position:absolute;top:4px; left:50px; }
.sort span.downEndOn{ background-position:0 -185px;position:absolute;top:4px; left:50px;}

.sort span.discount,
.sort span.haop,
.sort span.grade,
.sort span.fresh,
.sort span.default,
.sort span.discountOn,
.sort span.haopOn,
.sort span.gradeOn,
.sort span.freshOn,
.sort span.defaultOn{ width:60px; height:25px;}
.sort span.defaultOn{background-position:0 -263px;position:absolute;top:4px; left:50px;  float:left }
.sort span.default{ background-position:0 -296px;position:absolute;top:4px; left:50px; }
.sort span.freshOn{background-position:0 -338px;position:absolute;top:4px; left:50px;  }
.sort span.fresh{background-position:0 -372px;position:absolute;top:4px; left:50px;  }
.sort span.grade{background-position:0 -448px;position:absolute;top:4px; left:120px; }
.sort span.gradeOn{background-position:0 -414px;position:absolute;top:4px; left:120px; }
.sort span.haop{background-position:0 -525px;position:absolute;top:4px; left:190px; }
.sort span.haopOn{background-position:0 -491px;position:absolute;top:4px; left:190px; }
.sort span.discount{background-position:0 -604px;position:absolute;top:4px; left:330px; }
.sort span.discountOn{background-position:0 -568px;position:absolute;top:4px; left:330px; }

.sortText{  width:200px; height:23px; padding-left:5px; line-height:23px;color:#999; position:absolute;top:4px; right:50px;  display:block; border:1px  solid #ccc}
.sortNav{ width:240px;height:23px; padding-left:5px; line-height:23px;color:#999; position:absolute;top:4px; right:10px;  display:block;}
.sortNav a{margin:0 5px; color:#999;}
.sortNav a:hover{color:#F60;}
.sortSearch{ width:59px; height:25px; background:url(../images/button/59,25couSearch.gif) no-repeat; border:none;position:absolute;top:4px; right:10px; z-index:999}
.sortSearch:hover{ background-position:0 -38px;}
/*=====排序end=====*/
.sortWarp{width:758px; height:auto; margin-bottom:10px;padding-bottom:20px; border:1px solid #ccc; overflow:hidden}
.sortCoun{ margin:18px 0; position:relative }
.sortCoun li{ width:370px;_widht:350px; padding-bottom:10px;float:left;position:relative;}
.sortCoun li img,
.sortCoun li p{ float:left}
.sortCoun li img{margin:0 10px; border:1px  solid #ccc}
.sortCoun li p{ width:206px;line-height:22px}
.sortCoun li p a{ color:#06C;}
.sortCoun li {border-bottom:1px dashed #ccc}

.sortCoun .couName{  height:25px; margin-bottom:8px;font-size:16px; font-weight:bold; line-height:25px; overflow:hidden}
.sortCoun .couName a{ color:#b05c00}
.sortCoun .couName a:hover{ text-decoration:underline}
.sortCoun li p.downBtn{ width:375px;clear:both;}
.moDown,
.coDown{ width:122px; height:30px;margin:10px 23px; background:url(../images/button/122,30downCoun.gif) no-repeat; border:none; }
.moDown{ color:#a85700; float:left}
.coDown{ background-position:0 -41px; color:#a85700;}
.sortCoun .scissors,
.sortCoun .shears{width:16px; height:10px; display:block; position:absolute; top:188px; right:0px; background:url(../images/iconScissors.png) no-repeat 0 -30px;}
.sortCoun .shears{position:absolute; top:131px; right:0px;}
/*----剪刀、折角----*/
/*=====优惠券列表end=====*/




/*==============================优惠券详情页面begin===================================*/
.pathContainer{ width:960px; height:37px; margin:0px auto; background:url(../images/zqf_PathBar.png) no-repeat; overflow:hidden; color:#fff; line-height:35px;  font-size:14px; font-weight:bold;}
.pathContainer span{ float:left;}
.pathContainer span.on{ width:110px; height:35px; margin-left:20px; margin-top:5px; line-height:30px; text-align:center; color:#e26a00; background:url(../images/BG/pathContainerOn.gif) no-repeat bottom;}
.pathContainer span a{ color:#FFF}
.pathContainer span a:hover{ text-decoration:underline;}
.pathContainer em{ height:35px; width:30px; display:block; background:url(../images/zqf_pathArrow.gif) no-repeat center; overflow:hidden; float:left;}
/*--路径end--*/
.rightDown{ float:right; *margin-top:-30px; font-weight:normal}
.falSort{ width:188px;}
.falSort ul{ margin:8px;}
.falSort ul li{ width:155px; padding-left:15px; height:20px; line-height:20px;  }
.falSort ul li .dwonSortName{ width:100px; height:20px; display:inline-block; overflow:hidden}
.falSort ul li a:hover{ text-decoration:underline}
.falSort ul li .rightNum{ *margin-top:-20px;}
.falSort p{margin:5px; line-height:20px;}
.falSort p .checkStore a{ color:#995300}
.falSort p .checkStore a:hover{ text-decoration:underline}
/*==========左边end===========*/
.fal-gap{ margin-top:-740px;}
.detaliWrap{ width:758px; margin-bottom:10px;overflow:hidden}
.detaliWrap h3{ margin:0px 0 15px 7px; -margin:0px 0 12px 7px;font-size:18px;font-family:\5fae\8f6f\96c5\9ed1;}
.detaliWrap img{ margin:0 15px 0 6px; border:1px solid #ccc; float:left; display:block}
.detaliWrap .fal-detalText{height:30px;float:left;}
.detaliWrap .fal-detalText p .Link{ font-size:14px; font-weight:100; color:#06C;}
.detaliWrap .fal-detalText p{ line-height:30px;}
.detaDown{ margin-top:180px; _margin-top:-100px;float:right}
.detaliWrap p.downWay{ width:423px; height:64px; margin-top:15px;line-height:64px; text-align:center; background:#fff4bf; border-top:1px solid #ff9c00; border-bottom:1px solid #ff9c00; }
.moWay,
.coWay{ margin-top:12px; width:157px; height:38px; background:url(../images/button/157,37detailDown.gif) no-repeat; border:none}
.moWay{ margin-right:20px; background-position:0 -53px}
/*--优惠券下载区域end--*/
.detaTab{ position:relative}
.tabList li,
.tabList li a{ width:109px; height:35px; line-height:35px; margin-right:2px; _ margin-right:1px; float:left; text-align:center; font-size:16px;font-family:\5fae\8f6f\96c5\9ed1; font-weight:bold; color:#ed4501 }
.tabList li a{ background: url(../images/button/109,35tab.gif) no-repeat; background-position:0 -60px;  display:inline-block}
.tabList li a.state{ background-position:0 0px; color:#fff}
.tabList{ position:absolute; top:-2px; left:0}

.matter{ width:758px; height:auto; margin-bottom:10px;overflow:hidden; border:1px solid #ccc; }
.matTwo p,
.matThree p,
.matOne p{padding-left:10px;}

.matOne p{ height:40px;padding-left:10px;line-height:40px;background:#fffdeb; border-bottom:1px solid #ccc}
.matTwo{ margin:10px 0}
.matTwo p{ line-height:20px;}
.matThree p{ line-height:30px}
.matThree{ margin:20px 0}
/*==============================优惠券详情页面end===================================*/



/*==============================优惠券点评页面begin===================================*/
.shop_datails_score{width:728px; margin:10px auto;height:100%; display:block; overflow:hidden; padding:15px 0 12px; border:#e5cfad 1px solid;}
.shop_datails_score .shop_datails_score_text{width:125px; height:85px; margin:10px 20px 0!important;margin:10px 20px 0 10px; padding:0;display:block; overflow:hidden; float:left; text-align:center; line-height:26px;}
.shop_datails_score .shop_datails_score_text li span{font-size:12px; font-weight:bold; color:#666; line-height:36px;}
.shop_datails_score .shop_datails_score_text li .font1{color:#00AAFF; font-weight:bold;}
.shop_datails_score .shop_datails_score_img{width:450px; height:70px; margin:30px 0 0 80px; padding:0;display:block; overflow:hidden; float:left; }

.deliver{ width:758px;}
.deliverTable{}
.deliverTable th{ height:35px; line-height:35px; color:#6a500f; font-size:14px; font-weight:bold; text-align:left;background:url(../images/BG/deliverTableThBG.gif) repeat-x;}
.deliverTable td{ line-height:35px; font-size:13px;}
.deliverTableTdBG{ background-color:#f5f5f5;}
.deliver p{ height:52px; padding-left:20px;line-height:52px;  border-bottom:1px dashed #ccc}
.deliver p span.speak{padding-left:20px;background:url(../images/icon/deliver14,12.png)  no-repeat left center;}
.deliver p span.delTime{ float:right; color:#999;*margin-top:-52px}
.deliver p.bgGray{ background:#efefef}

.remarkArea{ margin:10px;}
.remarkArea h4{ margin:0 0 13px 0;padding-left:20px; background:url(../images/icon/remark19,19.png) no-repeat left center; font-size:16px;}
.remarkArea textarea{ width:733px; height:80px; margin:0 auto 10px auto; border:1px solid #ccc}
.remarkArea .remak{ text-align:right}
.subRemark{ width:116px; height:31px; line-height:31px; border:none;background:url(../images/button/sumbit116,31.png) no-repeat}
.subRemark:hover{ background-position:0 -47px;}

.BGtalk{ padding-left:40px; background:url(../images/icon/deliver14,12.png) 20px no-repeat;}
/*==============================优惠券点评页面end===================================*/
/*==========优惠卷列表===========*/
.quanLise{width:185px; height:auto;}
.quanLise .h2title{width:190px;*width:190px; height:34px; line-height:30px; font-size:14px; font-weight:bold; overflow:hidden;}
.quanLise .h2title .h2titleTL{width:8px;height:34px; float:left;background-image:url(../images/BG/quanLiseBG.png); background-position:0 0}
.quanLise .h2title .h2titleTC{width:167px;*width:167px;_width:167px;height:34px; padding-left:7px; float:left;background-image:url(../images/BG/quanLiseBG.png); background-position:0 -36px}
.quanLise .h2title .h2titleTR{width:8px;height:34px; float:left;background-image:url(../images/BG/quanLiseBG.png); background-position:-8px 0}
.quanLise .quanmain{ width:188px;_width:188px;height:auto; margin:0; padding:0; border:1px solid #cecece; border-top:none; background-color:#fbf7ea;}
.quanLise .quanmain ul{ padding:3px 0; _padding:0px 0; overflow:hidden;clear:both;}
.quanLise .quanmain li{ width:168px; height:27px;  padding-left:12px;margin:5px 7px;_margin:5px auto; line-height:27px; font-size:14px; background:url(../images/BG/quanList2.png) no-repeat; background-position:0px 0px;  }
.quanLise .quanmain li img{padding-top:0px;_padding-top:5px;*margin-bottom:-2px;margin-top:-4px !important; margin-right:12px; vertical-align:middle;}
.quanLise .quanmain li:hover{background:url(../images/BG/quanList2.png) no-repeat; background-position:0 -29px; color:#C30;}
.quanLise .quanmain li a:hover{ color:#C30; }
.quanLise .quanBottom{width:205px; height:8px; background:url(../images/BG/quanbottomBG.png) no-repeat;}


