<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>com.service.addUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>checkUserServlet</servlet-name>
    <servlet-class>com.service.checkUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OnlineUserServlet</servlet-name>
    <servlet-class>com.service.OnlineUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getUserServlet</servlet-name>
    <servlet-class>com.service.getUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>sendServlet</servlet-name>
    <servlet-class>com.service.sendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>leaveServlet</servlet-name>
    <servlet-class>com.service.leaveServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkUserServlet</servlet-name>
    <url-pattern>/checkUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnlineUserServlet</servlet-name>
    <url-pattern>/OnlineUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserServlet</servlet-name>
    <url-pattern>/getUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendServlet</servlet-name>
    <url-pattern>/sendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>leaveServlet</servlet-name>
    <url-pattern>/leaveServlet</url-pattern>
  </servlet-mapping>

</web-app>