/* container
==========================================================================*/
div.dclass_container {	
	background-color: #F2F9FF;
	border-top:1px solid #9FD6FF;
}
div.dclass_container div.dclass_container_header {
	background-image:url(../images/container_header_bg.gif);
}
div.dclass_container div.dclass_container_title {	
	background:url(../images/arrow_right.gif) no-repeat 0.8em 50%;
	height:22px;
	line-height:22px;
	padding-left:2.5em;
	border-left:1px solid #9FD6FF;
	border-right:1px solid #9FD6FF;
	color:#064E88;
}
div.dclass_container div.dclass_container_content {
	border:1px solid #9FD6FF;
	border-top:0;
	padding:0;	
}

div.dclass_container_boder {
	border:1px solid #9FD6FF;
	padding:0;	
}
div.dclass_container_collapsible div.dclass_container_title {	
	cursor:pointer;
	background-image:url(../images/arrow_up.gif);
}
div.dclass_container_collapse div.dclass_container_title{	
	background-image:url(../images/arrow_down.gif);
	border-bottom:1px solid #9FD6FF;
}

/* table
==========================================================================*/
table.dclass_data{
	width:100%;	
	border-collapse:collapse;
	border-spacing: 0;
	text-align:left;
}
table.dclass_data td, table.dclass_data th{
	border:1px solid #9FD6FF;
	padding:0.5em 0.3em;
}
table.dclass_data th{
	background-color:#C1DDF8;	
	color:#064E88;
	font-weight:normal;
}
table.dclass_data tr.dclass_data_odd{
	background-color:WHITE;
}
table.dclass_data tr.dclass_data_even{
	background-color:#F2F9FF;
}
table.dclass_data tr.dclass_data_hover{
	background-color:#D7EBFA;
}
table.dclass_data caption{
	text-align:left;
	font-size:1.1em;
	color:#064E88;
}
/* pager
==========================================================================*/
div.dclass_pager{	
	margin:0.5em 2em 0.5em 0.5em;
	text-align:right;
	font-size:0.9em;
	color:#666666;
}
